# 빌드 디렉토리 및 출력물
/build/
/build/*
*.o
*.obj
*.so
*.a
*.bin
*.log
*.tmp
*.ts

# CMake 관련 임시 파일
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 실행 파일 및 임시 ROM
chip8
tmp.ch32

# 편집기/IDE 생성 파일
*.swp
*.swo
*.DS_Store

# 테스트 출력물
/test/*.ch32
/test/*.rom

# 백업 파일
*~

